name: Build with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: "21"
        distribution: "temurin"
        
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        gradle-version: "8.12.1"

    - name: Build with Gradle
      run: gradle build
      
    - uses: actions/upload-artifact@v4
      with:
        name: Mod jar
        path: (fabric|forge|neoforge|quilt)/build/libs/*[0-9].jar
